{% extends "Schedule/base.html" %}
{% load static %}
{% block title %}
    <title>Archiwum</title>
{% endblock %}
{% block background_img %}
    <style type="text/css">
        body {
        background-image:url('{% static 'images/tables.jpg' %}');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #212429;
        }
        .card {
            background-color: rgba(200, 200, 200, 0.5);
        }
        
    </style>
{% endblock %}
{% block stylings %}
    <link href="https://cdn.datatables.net/v/bs5/dt-2.1.6/b-3.1.2/r-3.0.3/sp-2.3.2/datatables.min.css" type="text/css" rel="stylesheet" style="width: auto;">

    <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs5/dt-2.1.6/b-3.1.2/r-3.0.3/sp-2.3.2/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/2.1.5/pagination/simple_incremental_bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/2.1.7/sorting/datetime-moment.js"></script>

    <script>
        $(document).ready( function () {
                $.fn.dataTable.moment('DD.MM.YY');
        $('#Archiwum').DataTable({
            columnDefs: [
                {
                    target: 4,
                    type: 'datetime-moment'
                }
            ],
            order: [],
            scrollX: true,
        });
        });

    </script>

{% endblock %}

{% block content %}

<div class="container">
    <div class="text-center mt-5">
        <div class = "card">
            <div class = "card-header">
                <b>Archiwum rezerwacji</b>
            </div>
            <div class = "card-body">
                <table id="Archiwum" class="table table-bordered table-dark">
                    <thead>
                        <th>Nazwa</th>
                        <th>Osoby</th>
                        <th>Start</th>
                        <th>Koniec</th>
                        <th>Dzien</th>
                    </thead>
                    {% for item in context %}
                    <tr>
                        <td>{{item.users}}</td>
                        <td>{{item.users_amount}}</td>
                        <td>{{item.start_hour|time:'H:i'}}</td>
                        <td>{{item.end_hour|time:'H:i'}}</td>
                        <td>{{item.current_day|date:'d.m.y'}}</td>

                    </tr>

                {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}