{% extends "Schedule/base.html" %}
{% load static %}
{% block title %}<title>Rezerwacja</title>{% endblock %}
{% block background_img %}
    <style type="text/css">
        body {
        background-image:url('{% static 'images/booking.jpg' %}');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #212429;
        }
        .card {
            background-color: rgba(200, 200, 200, 0.5);
        }
        .nice_buttons {
            width: auto;
        }
    </style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="text-center mt-5">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class = "card">
            <div class = "card-header">
                <b>Rezerwacja godzin</b>
            </div>
            <div class = "card-body">
                    <form method="post" class="BookingForm">
                    {% csrf_token %}
                    {{form}}
                    <br>
                    <button type = "submit" class = "nice_buttons">Zarezerwuj</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}