{% extends "Schedule/base.html" %}
{% block title %}<title>Rezerwacja</title>{% endblock %}
{% block content %}
<div class="container">
    <div class="text-center mt-5">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class = "card">
            <div class = "card-header">
                <b>Rezerwacja godzin</b>
            </div>
            <div class = "card-body">
                    <form method="post" class="BookingForm">
                    {% csrf_token %}
                    {{form}}
                    <br>
                    <button type = "submit" class = "nice_buttons">Zarezerwuj</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}