<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Potwierdź usunięcie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p>Usunąć rezerwacje?</p>
        <p class="text-muted">Operacja jest nieodwracalna.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="nice_buttons btn btn-secondary" data-bs-dismiss="modal">
        Anuluj
        </button>
        <button type="submit" class="nice_buttons btn btn-danger" hx-post = "{% url 'remove_booking' pk=booking.pk %}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' >Usuń</button>
    </div>
</div>