{% extends "Schedule/base.html" %}
{% load static %}
{% block title %}<title>Zgłoszenie błędu</title>{% endblock %}
{% block background_img %}
    <style type="text/css">
        body {
        background:url('{% static 'images/tables.jpg' %}') no-repeat center fixed;
        background-size: cover;
        background-color: #212429;
        }
        .card {
            background-color: rgba(200, 200, 200, 0.5);
        }
        .nice_buttons {
            width: auto;
        }
    </style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="text-center mt-5">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        
        <div class = "card">
            <div class = "card-header">
                Zgłoś błąd
            </div>
            
            <div class = "card-body">
                <b>
                <form method="post" class="BugReportForm">
                    {% csrf_token %}
                    {{form}}
                    <br>   
                    <button type = "submit" class = "nice_buttons">Wyślij zgłoszenie</button>
                    
                </form>
            </div>
        
        </div>
    </div>
</div>
{% endblock %}