{% extends "Schedule/base.html" %}
{% load static %}
{% block title %}<title>Rezerwacja</title>{% endblock %}
{% block background_img %}
    <style type="text/css">
        body {
        background-image:url('{% static 'images/tables.jpg' %}');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #212429;
        }
        .card {
            background-color: rgba(200, 200, 200, 0.5);
        }
        .nice_buttons {
            width:auto;
        }
    </style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="text-center mt-5">
        <div class = "card">
            <div class = "card-header">
                <b>Dzisiejsze rezerwacje</b>
            </div>
            <div class = "card-body">
                <table class="table table-bordered table-dark">
                    <thead>
                        <th>Imie</th>
                        <th>Ile osob</th>
                        <th>Godzina start</th>
                        <th>Godzina koniec</th>
                        <th>Dzien</th>
                        <th></th>
                    </thead>
                    {% for item in context %}
                    <tr>
                        <td>{{item.users}}</td>
                        <td>{{item.users_amount}}</td>
                        <td>{{item.start_hour|time:'H:i'}}</td>
                        <td>{{item.end_hour|time:'H:i'}}</td>
                        <td>{{item.current_day|date:'d.m.y'}}</td>
                        {% if item.created_by_id == current_user %}
                        <td><a class = "nice_buttons" href = "./list/">Edytuj</a></td>
                        {% else %}
                        <td>{{item.created_by_id}} --- {{current_user}}</td>
                        {% endif %}
                    </tr>
                    

                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}