{% extends "Schedule/base.html" %}
{% load static %}
{% block title %}<title>Rezerwacja</title>{% endblock %}
{% block background_img %}
    <style type="text/css">
        body {
        background:url('{% static 'images/tables.jpg' %}') no-repeat center fixed;
        background-size: cover;
        background-color: #212429;
        }
        .table-scrollable {
            overflow-x: auto;
            max-width: 600px;
            box-shadow: inset 0 0 5px rgba(150, 150 ,150,0.35);
            margin: auto;
        }
    </style>
{% endblock%}

{% block stylings %}
<link href="{% static 'css/auth_styles.css'%}" rel="stylesheet" /> 

<style type="text/css">
    @media only screen
        and (min-width:1081px){
            .div_pad {
                padding-top: 60px;
            }
            .wrapper{
                max-width: 1150px;
            }
        }
    @media only screen 
        and (min-width:801px)
        and (max-width:1080px){
            .div_pad {
                padding-top:30px;
            }
            .wrapper{
                max-width: 900px;
            }
        }
    @media screen 
    and (min-width:601px)
    and (max-width: 800px) {
        .div_pad{
            padding-top:30px;
        }
        .wrapper{
            max-width: 700px;
            min-height: 400px;
            margin-right: 5px;
            margin-left: 5px;
        }
     
    }

    @media screen and (max-width: 600px) {
        .div_pad{
            padding-top:30px;
        }
        .wrapper{
            max-width: 500px;
            min-height: 400px;
            margin-right: 5px;
            margin-left: 5px;
        }
    }

</style>

{% endblock %}

{% block content %}

<div class="container">
    <div class="text-center mt-5">
        <div class ="wrapper">
            <div class="logo">
                <img style="height:80px;" src="{% static 'images/logo1.png' %}" alt=""/>
            </div>
            <b>GLSN Gym</b>
            <div class="div_pad">
                <div style="text-shadow: 5px 5px 10px #03A9F4; padding-bottom:10px;">
                    <b>Dzisiejsze rezerwacje</b>
                </div>
                <div class = "table-scrollable">
                    <table id = "Booking" class="table table-sm table-bordered table-responsive">
                        <thead class="table-dark table-bordered">
                            <th></th>  
                            <th>Nazwa</th>
                            <th>Osoby</th>
                            <th>Start</th>
                            <th>Koniec</th>
                            <th>Dzien</th>
                            
                        </thead>
                        
                        <tbody style="background:rgba(180,180,180,0.5);" hx-trigger="load, bookingListChanged from:body" hx-get="{% url 'booking_list' %}" hx-target="this">
                            <tr>
                            <td class="spinner-border" role="status">
                                <span class="visually-hidden">Ładowanie...</span>
                            </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div> 
    
    <!-- Placeholder for the modal -->
    <div id="edit_modal" class="modal fade">
      <div id="edit_dialog" class="modal-dialog" hx-target="this"></div>
    </div>
    
    <div id="remove_modal" class="modal fade">
      <div id="remove_dialog" class="modal-dialog" hx-target="this"></div>
    </div>
    
    <!-- Empty toast to show the message -->
    <div class="toast-container position-fixed top-0 end-0 p-3">
      <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive"
      aria-atomic="true">
      <div class="d-flex">
            <div id="toast-body" class="toast-body"></div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
            </div>
      </div>
    </div>
</div>

<script src="{% static 'js/dialog.js' %}"></script>
<script src="{% static 'js/toast.js' %}"></script>

{% endblock %}