{% extends "Schedule/base.html" %}
{% block title %}<title>GLSN Homepage</title>{% endblock %}
{% block content %}
    <div class="container">
        <div class="text-center mt-5">
            <h1>GLSN</h1>
            <h2>Strona Główna</h2>
            <br><br><br>
            <p>
                <button class = "nice_buttons"><a href="/login">Logowanie</a></button>
                <br><br>
                <button class = "nice_buttons"><a href="/gallery">Galeria</a></button>

            </p>
            <br><br>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

