{% extends "Schedule/base.html" %}
{% load static %}
{% block title %}<title>Lobby</title>{% endblock %}
{% block background_img %}
    <style type="text/css">
        body {
        background:url('{% static 'images/lobby.jpg' %}') no-repeat center fixed;
        background-size: cover;
        background-color: #212429;
        }
        .nice_buttons {
            width: auto;
        }
        .div_pad {
            padding-top:150px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="text-center mt-5">
                <div class="div_pad">
                    <a class = "nice_buttons" href = "/booking">Rezerwacja</a>
                    <br><br>
                    <a class = "nice_buttons" href = "/current_bookings"> Dzisiejsze rezerwacje</a>
                    <br><br>
                    <a class = "nice_buttons" href = "/archive">Archiwum</a>
                </div>
        </div>
    </div>
{% endblock %}
