{% extends "Schedule/base.html" %}
{% load static %}
{% block title %}<title>Lobby</title>{% endblock %}
{% block background_img %}
    <style type="text/css">
        body {
        background-image:url('{% static 'images/lobby.jpg' %}');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #212429;
        }
        .nice_buttons {
            width: auto;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="text-center mt-5">
                <a class = "nice_buttons" href = "/booking">Rezerwacja</a>
                <br><br>
                <a class = "nice_buttons" href = "/current_bookings"> Dzisiejsze rezerwacje</a>
                <br><br>
                <a class = "nice_buttons" href = "/archive">Archiwum</a>
        </div>
    </div>
{% endblock %}
