{% extends "Schedule/base.html" %}
{% load static %}
{% block title %}<title>Login</title>{% endblock %}
{% block background_img %}
    <style type="text/css">
        body {
        background:url('{% static 'images/home.jpg' %}') no-repeat center fixed;
        background-size: cover;
        background-color: #212429;
        }

    </style>
{% endblock %}
{% block stylings %}
    <link href="{% static 'css/auth_styles.css'%}" rel="stylesheet" />   
    <style type="text/css">
        
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active{
            
            padding-left: 10px; 
            border-radius: 20px !important;
            box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff !important;
        }
         
        input[type="password"]:-webkit-autofill,
        input[type="password"]:-webkit-autofill:hover,
        input[type="password"]:-webkit-autofill:focus,
        input[type="password"]:-webkit-autofill:active{
            padding-left: 10px; 
            border-radius: 20px !important;
            box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff !important;
        }

        .wrapper .form-field{
            padding-left:0px;
        }
        
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="text-center mt-5">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                        <br>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="div_pad">
                <div class="wrapper">
                    <div class = "logo">
                        <img style="height:80px;" src="{% static 'images/logo1.png' %}" alt=""/>
                    </div>
                    <b>GLSN Gym</b>
                    
                    <form method="post" class="LoginForm p-3 mt-3">
                        {% csrf_token %}
                        <div class="form-field d-flex align-items-center">
                            {{form.login}}  
                        </div>
                        
                        <div class="form-field d-flex align-items-center"> 
                            {{form.haslo}}
                        </div>
                    
                        <button type="submit" class = "btn mt-3 text-center fs-6">Login</button>
                        
                        <div class="text-center fs-6">
                            <div style="text-shadow: 5px 5px 10px #03A9F4; padding-top:5px;">
                                <b>Nie masz konta?</b>
                            </div> Zarejestruj sie <a class="link_indv" href="/register">tutaj</a>
                        </div>
                        <div class="text-center fs-6">
                            <div style="text-shadow: 5px 5px 10px #03A9F4; padding-top:10px;">
                                <b>Zapomniałeś hasła?</b>
                            </div> Przejdź <a class="link_indv" href="{% url 'password_reset' %}">tutaj</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}