{% extends 'Schedule/base.html' %}
{% load static %}
{% block title %}<title>Login Success</title>{% endblock %}
{% block background_img %}
    <style type="text/css">
        body {
        background:url('{% static 'images/home_log_success.jpg' %}') no-repeat center fixed;
        background-size: cover;
        background-color: #212429;
        }
    </style>

{% endblock %}

{% block stylings %}
    <link href="{% static 'css/auth_styles.css'%}" rel="stylesheet" />    
{% endblock %}

{% block content %}
<div class="container">
    <div class="text-center mt-5">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="div_pad">
            <div class="wrapper">
                <div class="logo">
                    <img style="height:80px;" src="{% static 'images/logo1.png' %}" alt=""/>
                </div>
                <b>GLSN Gym</b>
                <div style="padding-top:30px;">
                    <a class="btn mt-3 text-center fs-6" href="/home">Strona Glowna</a>
                    <br><br>
                    <a class="btn mt-3 text-center fs-6" href="/lobby">Lobby</a>                 
                </div>
            </div> 
        </div>
    </div>
</div>
{% endblock %}