{% extends "Schedule/base.html" %}
{% block title %}<title>Rezerwacja</title>{% endblock %}
{% block content %}
<div class="container">
    <div class="text-center mt-5">
        <p class="lead">Rezerwacja godzin</p>
        {% for item in context %}
            <table class="table">
                <thead class="thead">
                    <th>Imie</th>
                    <th>Godziny</th>
                </thead>
                <tr>
                    <td>{{item.users}}</td>
                    <td>{{item.hours}}</td>
                </tr>

            {% endfor %}
            </table>
    </div>
</div>
{% endblock %}